.socials {display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        gap: 1em;
      
       
         

}

 details {
  border: 2px solid #1C377F;
  border-radius: 10px;
  margin: 40px 0 0 0;
  padding: 1em;
  background-color: #56b7e5;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  scroll-behavior: auto;
  text-align: left;
  min-width: 100px;
  width: 100%;
  display: flex;
 }

summary {
  cursor: pointer;
font-size: 20px;
min-width: 100px;
text-align: left;
flex: 1;}

summary::-webkit-details-marker {
  display: none; /* removes default marker in Chrome/Safari */
}

details[open] {
  background: #56b7e5;
text-align: center;}

details p {font-size: 20px}



.faq-welcome h1 {text-align: center;
color:#1C377F;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
flex-direction: row;
margin: 0 auto;
min-width: 100px;
}



.about-1 {color: #1C377F;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.about-2 {text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.email {margin: 0}

hr {background: linear-gradient(to right, #56b7e5,#1C377F, #56b7e5);
border: none;
height: 20px;
}

.header-section {
  display: flex;              
  justify-content: space-between; 
  align-items:flex-start;
  flex-direction: row; 
  gap: 20px;                  
}

.welcome-text {
  flex: 1;                   
text-align: center;
}

.welcome-text img {width: 90%;
border: solid;
border-color:#1C377F;
min-width: 100px;
width: 80%;
border-radius: 100px;}

.faq-list {
flex: 1;                   
text-align: center;
margin: 70px;
font-size: 1rem;
min-width: 100px;}

.about-section {display: flex;
justify-content: space-between;
align-items:flex-start;
flex-direction: row;
gap: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-welcome-text{flex: 1;
text-align: center;
}

.about-welcome-text img {border: solid;
border-radius: 200px;
width: 80%;
margin-bottom: 50px;
text-align: center;
}


.welcome-text2 {flex: 1;
font-size: 20px;
margin-top: 10px;
margin: 0;
}

.welcome-text2 img {width: 50%;
margin-left: 15rem;
}

.newsletter-container {display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: row;
gap: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
;}

.newsletter-sub {flex: 1;
border: solid;
text-align: center;
margin: 100px 0 0 0;
border-radius: 20px;
}

.news-1 {flex: 1;
text-align: center;
}

.news-2 {flex: 1;
text-align: center;
}

.newsletter-email {flex: 1;
width: 50%;
height: 2rem;
justify-content: center;
align-items: center;
margin: 0 0 2rem;
border: solid;
border-radius: 20px;
}

.newsletter-sub h1 {color: #1C377F;}


.news-1 img {flex: 1;
width: 100%;
border-radius: 20px;
height: 25rem;}

.news-2 img {flex: 1;
width: 100%;
margin: 2rem 0 5rem 0;
border-radius: 20px;
}

.newsletter-container p {font-size: 20px;}

.subscribe-button {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #56b7e5;
width: 15%;
height: 2.3rem;
border-radius: 20px;
border: solid;}

.subscribe-button:hover {cursor:pointer;
}