.socials {display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        gap: 1em;
      
       
         

}

 details {
  border: 2px solid #1C377F;
  border-radius: 10px;
  margin: 40px 0 0 0;
  padding: 1em;
  background-color: #56b7e5;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  scroll-behavior: auto;
  text-align: left;
  min-width: 100px;
  width: 100%;
  display: flex;
 }

summary {
  cursor: pointer;
font-size: 20px;
min-width: 100px;
text-align: left;
flex: 1;}

summary::-webkit-details-marker {
  display: none; /* removes default marker in Chrome/Safari */
}

details[open] {
  background: #56b7e5;
text-align: center;}

details p {font-size: 20px}



.faq-welcome h1 {text-align: center;
color:#1C377F;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
flex-direction: row;
margin: 0 auto;
min-width: 100px;
}



.about-1 {color: #1C377F;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.about-2 {text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.email {margin: 0}

hr {background: linear-gradient(to right, #56b7e5,#1C377F, #56b7e5);
border: none;
height: 20px;
}

.header-section {
  display: flex;              
  justify-content: space-evenly; 
  align-items:center;
   flex-direction: row;
  gap: 5px;                  
}

.welcome-text {
flex: 1;                   
text-align: center;
margin: 0 50px;
padding: 0 10px}

.welcome-text img {
min-width: 100px;
width: 100%;
border-radius: 100px;
margin: 50px 5px}

.faq-list {
flex: 1;
justify-content: center;
flex-direction: row;                   
text-align: center;
font-size: 1rem;
margin: 0 15rem;
}

.about-section {display: flex;
justify-content: space-between;
align-items:flex-start;
flex-direction: row;
gap: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-welcome-text{flex: 1;
text-align: center;
padding: 0 100px 0 100px;}

.about-welcome-text img {border: solid;
border-radius: 200px;
width: 100%;
text-align: center;
margin-top: 30px;
}
.about-welcome-text p {font-size: x-large;
padding: 0 30px;}


.welcome-text2 {flex: 1;
font-size: 25px;
text-align: center;
padding: 0 30px;}

.welcome-text2 img {width: 70%;
}

.newsletter-container {display: flex;
justify-content:flex-start;
align-items:flex-start;
flex-direction: row;
gap: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.newsletter-sub {flex: 1;
border: solid;
text-align: center;
border-radius: 130px;
height: 18rem;
overflow: hidden;
margin-top: 200px;}

.news-1 {flex: 1;
text-align: center;
padding: 0 50px 0 50px;}

.news-2 {flex: 1;
text-align: center;
padding: 0 50px 0 50px;}

.newsletter-email {flex: 1;
width: 50%;
height: 2rem;
border: solid;
border-radius: 100px;
font-size: 16px;}

.newsletter-sub h1 {color: #1C377F;
margin-top: 25px;
margin-bottom: 25px;
}


.news-1 img {
width: 100%;
border-radius: 130px;
height: 25rem;
}

.news-2 img {
width: 100%;
border-radius: 130px;
height: 25rem;
margin-top: 25px;}

.newsletter-container p {font-size: 20px;
margin-bottom: 50px;
padding: 0 10.7px 0 10.7px;
}

.subscribe-button { 
background-color: #56b7e5;
border-radius: 20px;
border: solid;
font-size: 16px;
height: 2.5rem;
}


.subscribe-button:hover {
cursor:pointer;
}

.sign-container {display: flex;
justify-content:center;
align-items: center;
font-size: 30px;
flex-direction: column;
border: solid;;
width: 50%;
margin: 10rem auto;
border-radius: 100px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
overflow: hidden;
}


.sign-container input {height: 2rem;
width: 40%;
font-size: 20px;
margin: 2rem;
border-radius: 100px;
border: solid;}


.sign-container h1 {color: #1C377F;
text-align: center;
font-size: 45px;}

.sign-container p {text-align: center;
justify-content: center;
align-items: center;
padding: 0 15px 0 15px;
}



.sign-newsletter {
margin: 10rem;
border: solid;
border-radius: 100px;
width: 50%;
height: 33rem;
overflow: hidden;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

#sign-button {text-decoration: none;
margin-top: 50px;
font-size: 20px;
padding: 10px;
}

#sign-email input {border-radius: 20px;
border: solid;
width: 35%;
height: 3rem;
font-size: 16px;
}

#sign-password input {border-radius: 20px;
border: solid;
width: 35%;
height: 3rem;
font-size: 16px;
}

.sign-container form {
text-align: center;
font-size: 25px;}

#sign-password img {
width: 3%;
cursor: pointer;}

#sign-buttontop {
text-decoration: none;
padding: 10px}

.sign-buttons {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


 




