

 .search {display: flex;
          align-items: center;
         height: 100px;
         margin-bottom: 15px;
         padding-top: 10px;
         flex: 1;
       
 }  
 
 .logo {height: 120px;
        padding-right: 20px;
        padding-left: 50px;
       
        }

a       {display: flex;
        flex-direction: row;
        justify-content: center;}

 .searchbar {height: 40px;
            flex: 1;
            padding-left: 10px;}

        
.selectCategory {height: 40px;
        border-left: none;
        color: rgb(84, 83, 83);
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        margin-left: -.42px;}       

        

.btn {height: 30px;
      margin-right: 20px; 
      color: rgb(84, 83, 83);
       }
       
.sign {padding-left: 50px;
        padding-right: 70px;}

.cart {display: flex;
        flex-direction: row;
        width: .3em;}

.navbar {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        flex-shrink: 0;
        overflow: hidden;
        color: lightgray;
        background-color: #1C377F;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: sticky;
        top: 0;
        align-items: center;
        ;
}


.socials {display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        padding-right: 2em;
        position: relative;
        
        }

i, span {cursor: pointer;}

.socials span {display: flex;
                width: 15px;
                height: 15px;
                background-color: red;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                margin-left: 10px;}

#faq {display:flex;
      flex:1;
        justify-content: flex-start;}

h2 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
text-align: center;
font-size:3em;
margin-bottom: 2em;
color: #56b7e5;}

.shopfront {display: flex;
            justify-content: space-around;
            margin-bottom: 5em;
            }

#shopFrontPic {width: 40vw;}

#text {width: 40vw;
        font-family: Arial, sans-serif;
        color: #1C377F;}
            

#service {all: unset;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: auto;
        text-align: center;
        font-size:3em;
        margin-bottom: 2em;
        color: #56b7e5;}


.navlink {text-decoration: none;
   color: lightgray;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.navlink:hover {text-decoration-line: underline;}

#mhome {visibility: hidden;
        width: 0;}

.mobilenav {visibility: hidden;
           height: 0;}

.sociallink {color: lightgray;
             text-decoration: none;}

.sociallink:hover {color: #ffffff;}

.navlink:hover {color: #ffffff;
}

#sign {
        background: none;
        border: none;
        padding: 30px;
        cursor: pointer;
        text-decoration: none;
}

#sign:hover {color: #808080;}



.cart {margin-left: auto;
        margin-right: 20px;
        
       }

.title {font-size: 4.8em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1C377F;
        text-align: center;
        font-weight: bold;
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 50px;
        
       }

.tagline {text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2.1em;
        color: #56b7e5;
        padding-bottom: 30px;
      }

.gallery1 {display: flex;
         flex-direction: row;
         justify-content: center;
         margin-bottom: 10rem;
         background-color: #1C377F;
        }

#imageid {height: 400px;
         width: 600px;}

#leftbutton {background: none;
        color: azure;
        border: 0;
        height: 100;
        cursor: pointer;
        }

#rightbutton {
background: none;
border: 0;
color: azure;
height: 100;
cursor: pointer;}


#new {
        all: unset;
        overflow: scroll;
        flex-wrap: nowrap;
        flex-direction: row;
        display: flex;
        white-space: nowrap;
        position: static;
        gap: 4em;
      
}
 

 #new::-webkit-scrollbar {
                display: none; 
        }  

 .newcontain {display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 6em;}    
                
.move {height: 5em;}                

.gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 80px;

}

.group {display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;}

.item {height: 200px;
       padding: auto; 
        }

#price {color: #56b7e5;}


.reviews {border: solid 2px #56b7e5;
         margin-bottom: 4em;
         padding-bottom: 2em;
         border-radius: 15px;
         font-family: Arial, sans-serif;
}

.r {width: 50em;}


.feedback {display: flex;
          padding-left: 4em;
           padding-right: 4em;
         gap: 2em;}

#feedbk {color: #56b7e5;
        font-family: 'Arial Narrow', Arial, sans-serif;
        text-align: center;}

.footer { 
background-color: #1C377F;;
height: 220px;
display: flex;
align-items: center;
flex-direction: column;
color:#ffffff;
margin: 0;}

#metdark {
        height: 100px;
        background-color: #1C377F;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 0;
        
}

#address {color: aliceblue;
                margin-top: 0;}

#homeh1 {text-decoration: none;
        color: #1C377F;}

.sub {font-size: 2em;
       font-family: 'Arial Narrow', Arial, sans-serif;
        margin-left: 2.5em;
        color: #1C377F;
        font-style: oblique; }

.container {display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
                padding-bottom: 4em;
                padding-left: 1em;
                padding-right: 1em;
                margin:0;
                grid-template-rows: 50vh;
                place-items: center;
                gap: 40px;
               
                }

.item1 {border: solid 2px #56b7e5; 
      border-radius: 15px;
        width: 15em;
        height: 20em;
        box-shadow: 1px 3px 8px 1px rgb(241, 241, 241);
        cursor: pointer;
        
        }


.name {color: #1C377F;
       margin-left: .5em;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 1.2em;
}

#addcart {width: inherit;
          background-color: #56b7e5;
         color: #ffffff;
         border: none;
         margin-bottom: .5em;
         padding-top: .25em;
         padding-bottom: .25em;
         cursor: pointer;
          }

#addcart:hover {background-color: #7acff7;
        padding-bottom: 10px;}

.£ {margin-left: .5em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #56b7e5;}

.pic {height: 12em;
        width: 15em;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-bottom: .5em;
        margin-top: 2em;
        margin-bottom: 1em;
        }    
        
#seemore {display: flex;
        justify-content: center;
        margin-bottom: 4em;
        }

#see {border: solid 1px #56b7e5;
      border-radius: 10px;
        color: #56b7e5;
        background-color: white;
        width: 10em;
        height: 2em;
        cursor: pointer;}

#see:hover {background-color: #56b7e5;
            color: #ffffff;}

.cartTab {width: 400px;
         background-color: #56b7e5;
         color: #ffffff;
         position: fixed;
         inset: 0 -400px 0 auto;
         display: grid;
         grid-template-rows: 70px 1fr 70px;
         font-family:  Arial, sans-serif;
        
        
        }

body.showCart .cartTab {
        inset: 0 0 0 auto;
}





.cartTab .name {font-size: 15px;}


.item .item1 { height: 100%;
         box-shadow: none;
        width: fit-content;}
        
.item {height: 70px;
        padding-left: 10px;}





.listCart .name {color: #ffffff;
 }

.listProduct  {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding-bottom: 2em;
        justify-items: center;
        
        
}

.listProduct .item1 {
        display: grid;
        justify-items: center;
}

.listProduct .item1 .price {
       height: 10px;
       margin: 0;
       padding: 0;
}

.listProduct .item1 img {
        width: 12em;
        padding-top: 1em;
        height: 10em;
       
       

}

.listProduct .item1 h2 {
        font-size: 1.5em;
        padding: 0;
        margin: 0;
        height: 10px;
}

.listProduct .item1 .addcart {
      
        width: 100%;
         background-color: #29afed;
         color: #ffffff;
         border: none;
         cursor: pointer;
         height: 25px;
}

.listProduct .item1 .addcart:hover {background-color: #7acff7;}

.cartTab h1 {padding-left: 10px;}

.cartTab .btn1 {display: grid;
        grid-template-columns: repeat(2, 1fr);}

.cartTab .btn1 button{
        background-color: #29afed;
        color: #ffffff;
        border: none;
        cursor: pointer;
        font-weight: 500;
}

.cartTab .btn1 button:hover {
        background-color: #7acff7;
}

.cartTab .btn1 .closeButton {background-color: #f2f2f2;
                        color: #000000;}

.cartTab .btn1 .closeButton:hover {background-color: #ffffff;
                        color: #000000;}                        

.cartTab .listCart .item1 img {
        width: 100%;
}

.cartTab .listCart .item1 {
        display: grid;
        grid-template-columns: 70px 150px 50px 1fr;
        gap: 10px;
        text-align: center;
        align-items: center;
        border: none;
}

.listCart .quantity span {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        color: #1C377F;
        border-radius: 50%
}

.listCart .quantity span:nth-child(2) {
        background-color: transparent;
        color: #ffffff;
 }

 .listCart .item:nth-child(even) {
        background-color: #7acff7;
        border: none;
 }

 .listCart {overflow: auto;}

 .listCart::-webkit-scrollbar{
        width: 0;
 }

 .cartButton {all: unset;}

 

@media (max-width: 768px) {

        body {width: 384px;
                margin: 0;
                padding: 0;}

        .mobilenav {visibility: visible;
                  position: sticky;
                  height: 2em;
                  top: 0;
                  z-index: 1;
                  width: 384px;
                  margin-top: -18px;
                  
                       }

        #mobilelink {background-color: #1C377F;
                color: #ffffff;
                padding-top: 1em;
                 padding-bottom: 1em;
                display: flex;
                flex-direction: row;
                gap: 1em;
                justify-content: flex-start;
                align-items: center;
                text-align: left;
                width: 384px;
                
                 }


        #burger {display: flex;
                flex: 1;
                justify-content: flex-start;
                padding-left: .5em;
               }
        
        .search {width: 90vw;
              }

        #cart {padding-right: 1em;}

        .selectCategory {width: 2vw;
        cursor: pointer;}
        
        .logo, #home {display: none;
                        
                       }
        
        #sign {padding-left: 2vw;
                padding-right: 0;}
        
        .searchbar {padding-right: 10vw;
                        margin-left: 1vw;}

       

        .item {height: 10vh;
       padding: auto; 
        }

        .title {font-size: 3em;
                position: relative;
                z-index: 1;
                margin-top: 4vw;
                width: 384px;
                }

        .tagline {font-size: 1.3em;
                  margin-bottom: 4vw;
                   width: 384px;}

        .navbar {overflow: scroll;
                flex-wrap: nowrap;
                flex-direction: row;
                white-space: nowrap;
                padding-top: 3em;
                padding-bottom: 1.2em;
                background-color: white;
                position: static;
                width: 384px;
                margin-left: 0;
                padding-left: 0;
                }
        
                .search {display: none;}

        .navbar::-webkit-scrollbar {
                display: none; 
        }

        
        .label::-webkit-scrollbar {
                display: none; 
        }
        

        .searchbar, .selectCategory, #sign {display: none;}

        
        
              #sign {margin-right: 0vw;
                padding-right: 0;}

        h2 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           text-align: center;
           font-size: 2em;
           margin-bottom: 1em;
           color: #56b7e5;
           margin-top: 0;
           padding-top:0;
           width:384px;}

        .gallery1 {display: flex; 
                   background-color:#1C377F;
                   position: static;
                   padding-bottom: 0;
                   margin-bottom: 4em;
                   
                   
                   
                   }

        #imageid { width: 384px;
                   height: 290px;
                   }

        #rightbutton {position: relative;
                      top: 50%;
                      right: 5%;
                      
                     
                     }

         #leftbutton {position: relative;
                      top:50%;
                      left: 5%;
                     }

       

        .socials {display: none;
                  }
        
        .navlink {color: #1C377F;
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                 font-weight: 900;
                 font-size: 1em;
                 border-right: solid 1px black;
                 width: 384px;
                 padding-right: 1em;
                }    
                 
        .navlink:active {color: #56b7e5;}

       

        #mhome {visibility: visible;
                width: 100%;
                padding-left: 1em;}
                
        .label {width: 150px;
                overflow: auto;
                height: 20px;
                color: #1C377F;
                font-family: 'Arial Narrow', Arial, sans-serif;
                font-size: 1em;
                white-space: nowrap;
                display: flex;
                flex-wrap: nowrap;
                padding-left: 1em;
              }

        #price{width: 150px;
                overflow: hidden;
                height: 10px;
                color: #56b7e5;
                font-family: 'Arial Narrow', Arial, sans-serif;
                font-size: 1em;
                padding-left: 1em;
                }


        .group {width:150px;
        }

        .shopfront {display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            
            }

#shopFrontPic {width: 80vw;
                height: 70vw;
                background-color: #1C377F;
                all: unset;
                padding-top: 4em;
                

                }
#instore {margin-top: -7.5em;
        padding-bottom: 200px;
         }

#text {all: unset;
        color: #1C377F;
        width: 80vw;
        
}

 


 .footer {color:#ffffff;
        text-decoration:None;
 }

}

